@model ResumeGenerator.Models.Experience

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Experience</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.companyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.companyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resume.resumeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.experienceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
