@model ResumeGenerator.Models.Education

@{
    ViewData["Title"] = "Education Details";
}

<h1>Education Details</h1>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.collageName)
        </dt>
        <dd class="col-sm-9 text-muted">
            @Html.DisplayFor(model => model.collageName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.degreeType)
        </dt>
        <dd class="col-sm-9 text-muted">
            @Html.DisplayFor(model => model.degreeType)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class="col-sm-9 text-muted">
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class="col-sm-9 text-muted">
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.major)
        </dt>
        <dd class="col-sm-9 text-muted">
            @Html.DisplayFor(model => model.major)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.gpa)
        </dt>
        <dd class="col-sm-9 text-muted">
            @Html.DisplayFor(model => model.gpa)
        </dd>

        <dt class="col-sm-3">
            Resume ID
        </dt>
        <dd class="col-sm-9 text-muted">
            @(Model.resume != null ? Model.resume.resumeId.ToString() : "N/A")
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.educationId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
